.create{
    .create-header{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #ddd;
        height: .6rem;
        padding: 0 .21rem;
        .inp-title{
            border: none;
            font-size: .24rem;
            font-weight: 600;
            flex: 1 1 auto;
        }
        .inp-title:focus{
            border: none;
            outline: none;
        }
        .header-right{
            display: flex;
            justify-content: center;
            align-items: center;
            .header-save{
                font-size: .16rem;
                white-space:nowrap;
                color: #ddd;
                cursor: pointer;
                span{
                    display: inline-block;
                    border: 1px solid #ddd;
                    padding: .03rem .06rem;
                    margin: 0 .06rem;
                    border-radius: 2px;
                }
            }
            .header-add-logo{
                cursor: pointer;
                font-size: .16rem;
                color: #007fff;
                padding: 0 .14rem;
            }
            .header-switch{
                cursor: pointer;
                font-size: .16rem;
                padding: 0 .14rem;
            }
            .header-push-trigger{
                font-size: .16rem;
                color: #007fff;
                cursor: pointer;
                padding: 0 .14rem;
            }
            .header-logo{
                height: .35rem;
                width: .35rem;
                border-radius: 50%;
                background: url('../../components/Introduction/images/me.png') no-repeat;
                background-size: cover;
                cursor: pointer;
                padding: 0 .14rem;
            }
        }
    }
    .create-content{
        display: flex;
        position: absolute;
        top: .6rem;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        .write{
            background: #f8f9fa;
            flex: 1 1 50%;
            border-right: 1px solid #ddd;
            textarea{
                padding: 20px 8px;
                background: #f8f9fa;
                height: 100%;
                width: 100%;
                border: none;
                font-size: .16rem;
            }
            textarea:focus{
                border: none;
                outline: none;
            }
        }
        .view{
            padding: 0 8px;
            flex: 1 1 50%;
            overflow-y: scroll;
            height: auto;
        }
    }
}